* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;

}

.container {
    width: 100vw;
    height: 100vh;
    border: 20px solid #808080;
    box-sizing: border-box;
    background: url(img/backgr.jpg) center/ cover no-repeat;
}

.packMan-Fild {
    width: 80.5%;
    height: 100%;
    position: relative;
    display: inline-block;

}

#packMan {
    width: 60px;
    height: 60px;
    position: absolute;
    display: inline-block;
    z-index: +1;
}

#BotPakMen {
    width: 60px;
    height: 60px;
    position: absolute;
    display: inline-block;
    z-index: +1;
}

.packMan-eyes {
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: +2;
}

.packMan-top, .packMan-bottom {
    width: 0;
    height: 0;
    position: absolute;
    border: 30px solid #ffde00;
    border-right-color:transparent;
    border-radius: 30px;
    transform-origin: center;
}

#BotPakMen > .packMan-top, #BotPakMen > .packMan-bottom {
    border-top-color: red;
    border-left-color: red;
    border-bottom-color: red;
    position: absolute;
    border-radius: 30px;
    transform-origin: center;
}

.packMan-bottom {
    transform: rotate(20deg);
    animation: eatingB 0.5s infinite ease-in-out;
}

.packMan-top {
    transform: rotate(-20deg);
    animation: eatingT 0.5s infinite ease-in-out;
}

@keyframes eatingT {
    from {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-40deg);
    }
}

@keyframes eatingB {
    from {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(40deg);
    }
}

.move-right {
    transform: rotate(0);
    transform-origin: center;
}

.move-bottom {
    transform: rotate(90deg);
    transform-origin: center;
}

.move-top {
    transform: rotate(-90deg);
    transform-origin: center;
}

.move-left {
    transform: rotateY(180deg);
    transform-origin: center;
}

.fruit {
    width: 50px;
    position: absolute;
}

.Total-Fild {
    display: inline-block;
    width: 19%;
    height: 100%;
    font-size: 30px;
    color: #000;
    text-align: center;
    border-left: 20px solid #808080;
    background-color: lightskyblue;
}

.Total-Fild h3 {
    margin: 30px auto;
}

#total {
    width: 80%;
    height: 40px;
    border: 3px solid blue;
    margin: 0 auto;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    color: red;
}

.Total {
    height: 60%;
    width: 100%;
}

.controlFild {
    display: inline-block;
    width: 80%;
    text-align: left;
    padding-left: 20px;
    color: mediumblue;
    font-size: 18px;
    font-weight: 900;
    margin: 0 auto;

}
